h1 {
  color: deeppink;
  font-size: 25pt;
}

div .head {
  padding: 20px;
  background-color: blue;
  background-size: 20px;
}

body {
    font-size: 15pt;
    background-color: lime;
    color: blue;
}