body {
  padding: 2px
  font-style: italic;
  font-family: Times New Roman;
  color: white;
  background-color: yellow;

}

.head {
  padding: 25px;
  padding-top: 0;
  background-color: #f9980f;
  background-size: 100px;
  display: block;
  text-align: center;
  top: 0;
  width: 100%;
  height: 100%;

}

la {
  float: left;
  font-size: 15px;
}

la a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  margin: 2px;

}
a:hover {
  background-color: black;
  border: 4px solid 5px;
}


h1 {

  text-align: center;
  font-family: serif;

}

p {
  font-size: 20px;
  text-align: center;

}
li {
  font-size: 20px;
  text-align: center;
}

.upper {
  background-image: url("/project images/chicken-3727097_1920.jpg");
  background-size: 500px;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;


}
.mid {
  background-image: url("/project images/44044.jpg");
  background-size: 400px;
  height: 100%;
  width: 100%;
  color: #f0ff0f;
  /* background-blend-mode: 40px;
*/
}